<a href="https://colab.research.google.com/github/lonespear/MA206/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
library(tidyverse)
df <- read_csv("ada92.csv") %>% filter(age_range == "20-39", disability == "Disability", SEX == "Male")

Rows: 8398 Columns: 31
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (14): MONTH, ASECFLAG, SEX, RACE, MARST, VETSTAT, EMPSTAT, WORKLY, WKSWO...
dbl (12): YEAR, SERIAL, CPSID, ASECWTH, PERNUM, CPSIDV, CPSIDP, ASECWT, AGE,...
lgl  (5): HWTFINL, WTFINL, DIFFMOB, white, post_ADA

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

# Test 1

In [5]:
df %>% colnames

 [1] "YEAR"               "SERIAL"             "MONTH"
 [4] "HWTFINL"            "CPSID"              "ASECFLAG"
 [7] "ASECWTH"            "PERNUM"             "WTFINL"
[10] "CPSIDV"             "CPSIDP"             "ASECWT"
[13] "AGE"                "SEX"                "RACE"
[16] "MARST"              "VETSTAT"            "EMPSTAT"
[19] "DIFFMOB"            "WORKLY"             "WKSWORK1"
[22] "WKSWORK2"           "FIRMSIZE"           "DISABWRK"
[25] "year_start"         "weeks_worked"       "employed_last_year"
[28] "disability"         "white"              "post_ADA"
[31] "age_range"

In [7]:
df %>% select(employed_last_year, post_ADA) %>% table()

                  post_ADA
employed_last_year FALSE TRUE
               No     18   22
               Yes    20   17

In [11]:
null = 0           # Enter the value of your Null Hypothesis Parameter
successes_1 = 20    # number of successes in group 1
successes_2 = 17    # number of successes in group 2
n_1 = 38   # sample size of group 1
n_2 = 39   # sample size of group 2
n = n_1 + n_2     # total sample size
phat_1 = successes_1/n_1
phat_2 = successes_2/n_2
phat_t = (successes_1 + successes_2)/(n)
diff = phat_1-phat_2 # ensure this matches your null hypothesis order
sd = sqrt(phat_t*(1-phat_t)*(1/n_1 + 1/n_2))
z = (diff-null)/sd  ; z # standardized statistic

[1] 0.7939537

In [ ]:
null =      #Enter the value of your Null Hypothesis Parameter
xbar_1 = df %>% filter(post_ADA == FALSE)   # sample mean of group 1
xbar_2 =    # sample mean of group 2
s_1 =       # sample standard deviation of group 1
s_2 =       # sample standard deviation of group 2
n_1 =       # sample size of group 1
n_2 =       # sample size of group 2
n = n_1 + n_2   # total sample size
diff = xbar_1 - xbar_2
sd = sqrt(s_1^2/n_1 + s_2^2/n_2)
t = (diff-null)/sd   ; t # standardized statistic